body {
  background: url("/static/img/blockchain.png")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}

.block {
  background-color: rgba(89, 89, 89, 0.8);
  margin: 10px;
}
