<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/stylesheets/index.css">

  <style>
    body {
      padding-top: 70px;
    }

    button {
      color: white;
    }

    /* Modify the background color */
    .navbar-custom {
      background-color: rgba(89, 89, 89, 0.7);
      position: fixed;
      top: 0;
      width: 100%;
    }

    /* Modify brand and text color */
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text,
    .navbar-custom .nav-link {
      color: white;
    }
    /* hover animations */
    .fa:hover {
      opacity: 0.7;
    }

    .btn-primary-outline {
      background-color: transparent;
      border-color: #ccc;
    }
    .btn-primary-outline:hover {
      opacity: 0.7;
      background-color: rgba(0, 0, 0, 0.5);
    }
  </style>

  <title>Dylan Maynard Software Engineer</title>
</head>

<body>

  <!--Navigation bar-->
  <nav class="navbar navbar-expand-sm navbar-custom">
    <a class="navbar-brand" href="/">Dylan Maynard</a>
    <button class="navbar-toggler collapsed" data-toggle="collapse" data-target=#navbarMenu>
      &#9776;
    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Software
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/blockchain">Blockchain</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/projects">Projects</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/resume">Resume</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/sports">Sports</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/music">Music</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a href="https://www.github.com/dmayna" class="nav-link fa"> <img src="/static/img/github_transparent.png" alt="Github" width="35px"></a>
        </li>
      </ul>
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a href="https://www.linkedin.com/in/dylan-maynard-2132bb138/" class="nav-link fa"> <img src="/static/img/linkedintransparent.png" alt="LinkedIn" width="35px"></a>
        </li>
      </ul>
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a href="https://www.instagram.com/dmayna" class="nav-link fa"> <img src="/static/img/instagram_transparent.png" alt="Instagram" width="35px"></a>
        </li>
      </ul>
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a href="https://twitter.com/dmayna_42" class="nav-link fa"> <img src="/static/img/twitter_transparent.png" alt="Twitter" width="35px"></a>
        </li>
      </ul>
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="btn btn-primary-outline btn-md nav-link" href="/contact" role="button">Contact</a>
        </li>
      </ul>

    </div>
  </nav>
  <!--end of Navigation bar-->

  <center>
    <div class="container-fluid">
      <h1>Dylan Maynard <small class="text-muted">Software Engineer</small> </h1>
    </div>
    <img src="/static/img/dylan.jpg" alt="Dylan" width="35%">
    <div class="container-fluid">
    <p class="lead">Educated, self taught and experienced software engineer. Currently a senior at the University of San Francisco majoring in Computer Science with a major gpa of <strong>4.0</strong> (expected graduation May 2021). I have several years of experience in interships working for one of the first companies in the FinTech industry at <a href="https://www.yodlee.com" class="test">Envestnet Yodlee. </a>I was born and raised in the Bay Area and love being surrounded by the fabulous oppurtunities that Sillicon Valley offers. Please take a look around my page to find my projects/resume or to learn more about my interests.
      <u><strong>School courses include:</strong></u> Blockchain (projects implemented in golang), Programming Languages and Paradigms, C and Systems Programming, Data Structures in C++, Data Science with R, Database management with MySQL, OOP in C++.
      <u><strong>Upcoming course work in final year:</strong></u> Software Development, System Architecture, Operating Systems and Senior Project.
    </p>
  </div>
  </center>



<center>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-3 fa">
          <a href="https://www.github.com/dmayna"> <img src="/static/img/github_transparent.png" alt="Github" width="50px"></a>
        </div>
        <div class="col-3 fa">
          <a href="https://www.linkedin.com/in/dylan-maynard-2132bb138/"> <img src="/static/img/linkedintransparent.png" alt="LinkedIn" width="50px"></a>
        </div>
        <div class="col-3 fa">
          <a href="https://www.instagram.com/dmayna"> <img src="/static/img/instagram_transparent.png" alt="Instagram" width="50px"></a>
        </div>
        <div class="col-3 fa">
          <a href="https://twitter.com/dmayna_42"> <img src="/static/img/twitter_transparent.png" alt="Twitter" width="50px"></a>
        </div>
      </div>
    </div>
  </footer>
</center>

</body>

</html>
