<nav class="navbar navbar-expand-sm navbar-custom">
  <a class="navbar-brand" href="/">Dylan Maynard</a>
  <button class="navbar-toggler collapsed" data-toggle="collapse" data-target=#navbarMenu>
    &#9776;
  </button>

  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Software
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/projects">Projects</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/resume">Resume</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/sports">Sports</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/music">Music</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a href="https://www.github.com/dmayna" class="nav-link fa"> <img src="/static/img/github_transparent.png" alt="Github" width="35px"></a>
      </li>
    </ul>
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a href="https://www.linkedin.com/in/dylan-maynard-2132bb138/" class="nav-link fa"> <img src="/static/img/linkedintransparent.png" alt="LinkedIn" width="35px"></a>
      </li>
    </ul>
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a href="https://www.instagram.com/dmayna" class="nav-link fa"> <img src="/static/img/instagram_transparent.png" alt="Instagram" width="35px"></a>
      </li>
    </ul>
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a href="https://twitter.com/dmayna_42" class="nav-link fa"> <img src="/static/img/twitter_transparent.png" alt="Twitter" width="35px"></a>
      </li>
    </ul>
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="btn btn-primary-outline btn-md nav-link" href="/contact" role="button">Contact</a>
      </li>
    </ul>

  </div>
</nav>
